/* @media (min-width: 1903px) {
        .navbar-expand-md .navbar-collapse {
          display: flex !important;
          flex-basis: auto;
          padding-right: 0;
          margin-right: 380px;
        }
      } */
/* .collapse{
          width: 1115px;
          margin: 0 auto;
      } */

.collapse navbar-collapse {
  width: 1115px;
  margin: 0 auto;
}

.navbar-collapse {
  width: 1115px;
  margin: 0 auto;
}

.indigo {
  background-color: #b1798d !important;
}
